 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
 </head>
 <body>
 <div id="main">
  <form action="/create" method="post">
    <h1>ADD CAR</h1>
    
     
      <input type="url" placeholder="image" name="image" >
       <input type="text" placeholder="car name" name="carname">
       <input type="text" placeholder="price" name="price">
       <input type="text" placeholder="varient" name="varient">
       <input type="text" placeholder="fule type" name="fule">
       <input type="text" placeholder="color" name="color">
        <input id="btn" type="submit"  value="submit">
  </form>
 </div>
 </body>
 </html>
